body {
    font-family: Arial, sans-serif;
    margin: 40px;
    background: #f9f9f9;
}
header h1 {
    color: #333;
}
.container{
    padding-top: 50px;
    padding-bottom: 50px;
}
nav a {
    text-decoration: none;
    color: #007bff;
    margin-right: 10px;
}
nav a:hover {
    text-decoration: underline;
}
.btn {
    background: #007bff;
    color: white;
    padding: 8px 15px;
    text-decoration: none;
    border-radius: 5px;
}
table {
    border-collapse: collapse;
    width: 100%;
}
table th {
    background: #007bff;
    color: white;
}
